body {
            margin-top: 20px;
            background-color: #eee;
        }



.img_center {
    display: flex;
    margin:0 auto;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

#linkedin-link {
    padding: 5px;
}
#linkedin-logo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.jumbotron {
    background-color: darkgray;
}
img:hover {
    box-shadow: 0 0 10px black;
}

#full_name {
    text-shadow: 0 0 1px white;
}
#degrees {
    text-shadow:  0 0 2px white;
}



#github-link {
    padding: 5px;
}

#github-logo {
    width: 60px;
    height: 60px;   
    border-radius: 50%;
}
